.border-radius (...) {
  border-radius: @arguments;
  -moz-border-radius: @arguments;
  -webkit-border-radius: @arguments;
}

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

.animation(...) {
	-moz-animation: @arguments;
    -webkit-animation: @arguments;
    -ms-animation: @arguments;
    animation: @arguments;
}
.transition(...) {
	-moz-transition: @arguments;
    -webkit-transition: @arguments;
    -o-transition: @arguments;
    -ms-transition: @arguments;
    transition: @arguments;
}
.transform(...) {
	-moz-transform: @arguments;
    -webkit-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}
.transition-duration( @d ) {
	-webkit-transition-duration: @d;
     -moz-transition-duration: @d;
      -ms-transition-duration: @d;
       -o-transition-duration: @d;
          transition-duration: @d;
}

.transition-property(...) {
	-webkit-transition-property: @arguments;
     -moz-transition-property: @arguments;
      -ms-transition-property: @arguments;
       -o-transition-property: @arguments;
          transition-property: @arguments;
}

.box-shadow (...) {
	-webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    box-shadow: @arguments;

}

.user-select ( @select: none ) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
