/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   (Tweaked for CleanThemes theme)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS cross-browser clear fix */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
.cf {
    zoom:1;
}


/* Remove FF input padding for consistant alignment */
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Remove the odd input formatting from iOS */
button,
input[type=submit],
input[type=button]{
    -webkit-appearance: none;
}

/* Stop Webkit's big glowy boxes, we have our own highlight effect */
input:focus,
select:focus,
textarea:focus {
    outline: none;
}

/* YUI CSS Base
 */
 
h1 {
    /* via YUI Fonts CSS foundation*/
    font-size:160%; 
    margin:1.2em 0;
}
h2 {
    /*16px via YUI Fonts CSS foundation*/
	font-size:123.1%; 
    margin:1.0em 0;
}
h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:108%;
    margin:0.9em 0;
}
h4 {
    /*14px via YUI Fonts CSS foundation*/
	font-size:100%;
    margin:0.8em 0;
}
h5 {
    /*14px via YUI Fonts CSS foundation*/
	font-size:93%;
    margin:0.7em 0;
}
h6 {
    /*14px via YUI Fonts CSS foundation*/
	font-size:85%;
    margin:0.6em 0;
}

h1,h2,h3,h4,h5,h6 {
	/*bringing boldness back to headers*/
	font-weight:normal;
}
strong, b {
    font-weight:bold;
}
abbr,acronym {
	/*indicating to users that more info is available */
	border-bottom:1px dotted #000;
	cursor:help;
} 
em, i {
	/*bringing italics back to the em element*/
	font-style:italic;
}
ul,ol,dl {
	/*giving lists room to breath*/
	margin:1em;
    font-size:100%;
}

blockquote{
  /*  border-left:.5em solid #cccccc; */
    margin:1.5em 0em 1.5em 10.0px;
    padding:.5em 0em;
    quotes:"\201C""\201D";
    font-size:130%;
    font-style:italic;
    line-height: 100%;
}
blockquote:before{
    color:#cccccc;
    content:open-quote;
    font-size:3em;
    line-height:.1em;
    margin-left: -40px;
    margin-right: 20px;
    vertical-align:-0.48em;
}
blockquote :first-child { display:inline; }
blockquote :last-child { margin-bottom:0; }
blockquote:after { content: no-close-quote; }

ol,ul,dl {
	/*bringing lists on to the page with breathing room */
	margin-left:2em;
}
ol li {
	/*giving OL's LIs generated numbers*/
	list-style: decimal outside;
}
ul li {
	/*giving UL's LIs generated disc markers*/
	list-style: disc outside;
}
dl dd {
	/*giving UL's LIs generated numbers*/
	margin-left:1em;
}
th,td {
	/*borders and padding to make the table readable*/
    border-bottom: 1px solid #cccccc;
    border-collapse: collapse;
    border-top: 1px solid #cccccc;
    padding: 0.7em;
}
th {
	/*distinguishing table headers from data cells*/
	font-weight:bold;
	text-align:left;
    border-bottom-width: 3px;
}
caption {
	/*coordinated marking to match cell's padding*/
	margin-bottom:.5em;
	/*centered so it doesn't blend in to other content*/
	text-align:center;
}
p,fieldset,table {
	/*so things don't run into each other*/
	margin-bottom:1em;
}

hr {
  border: 0;
  width: 100%;
  background:#cccccc;
  height:1px;
}