@( repos: List[ java.util.Map[String, Object] ] )

@layout {

<div>
	<div class="page-header">
		<h1>
			<strong>NASA's</strong> Repositories
		</h1>
	</div>


	@for( item <- repos ) {
	<div class="panel panel-default">
	  <div class="panel-heading"><a href="@routes.HomeController.viewRepository( item.get("name").toString )">@item.get("name")</a></div>
	  <div class="panel-body">
	  	@if( item.get("description") == null || item.get("description").toString.isEmpty ) {
	  		N/A
	  	} else {
	    	@item.get("description")
	    }
	  </div>
	</div>
	}

</div>
}