@( repo: models.Repository, langs: Map[String, Integer], langColourMap: Map[String, String], totalLines: Long )

@layout {

<ol class="breadcrumb">
  <li><a href="@routes.HomeController.index()">Repositories</a></li>
  <li class="active">@repo.getName()</li>
</ol>

<div>
	<div class="page-header">
		<h1>
			@repo.getName() <small>by NASA</small>
		</h1>
		<p>@repo.getDescription()</p>
	</div>

	<div class="btn-group" role="group" style="margin-bottom: 2em;">
		@for(key <- langs.keySet() ) {
			<button type="button" class="btn btn-default">@key <span class="label label-@langColourMap.get( key )">@langs.get(key).toInt lines</span></button>
		}
	</div>
	
	<div class="panel panel-default">
	  <div class="panel-heading">Languages</div>
	  <div class="panel-body">
		<div class="progress">
			@for(key <- langs.keySet() ) {
				<div class="progress-bar progress-bar-@langColourMap.get( key )" style="width: @(langs.get(key).toDouble / totalLines.toDouble * 100.0)%">
					<span class="sr-only">@key @(langs.get(key) /totalLines * 100) Complete (success)</span>
				</div>
			}
		</div>
	  	
	  </div>
	</div>


</div>
}